@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400&display=swap');

* {
    margin: 0;
}

body {
    background-color: #F9F5F0;
}
.header-container {
    margin-top: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    
}
.logo img {
    height: 130px;
    width: 230;

}
.shopping-bag {
    height: 32px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
    
}   
.nav-list a {
    text-decoration: none;
    color: #93562A;
}
    


.hamburger-menu {
    display: none;
}

@media(max-device-width: 480px) {

}