@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');
:root{
    --clr-background: #F9F5F0;
    --clr-black: #000000;
    --clr-brown: #93562A;
    --clr-blueish: #70CEC7;
    --clr-ligth-pink: #FF6665;
    --clr-dark-pink: #EB5151;
    --clr-background-footer: #D9D9D9;
}
body {
    background-color: #F9F5F0;
}
.flex {
    display:flex;
    gap: var(--gap, 1rem);
}

.primary-navigation {
    list-style: none;
    text-decoration: none;
    flex-direction: column;
}
.primary-navigation a {
    text-decoration: none;
    font-family: Pacifico;
    color: #93562A;
    font-size: 20px;
}

@media (max-width: 560px){
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        padding: min(190px, 160px) 32px;
        background-color:	hsla(0, 100%, 70%, 0.418);
        backdrop-filter: blur(1rem);
        margin: 0;
        transform: translateX(100%);
        transition: transform  350ms ease-in;

    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle{
        position: absolute;
        z-index: 9999;
        background: url("./src/hambuerger.png");
        background-repeat: no-repeat;
        border: 0;
        width: 60px;
        aspect-ratio: 1;
        top: 32px;
        right: 32px;
    
    }

    
}


@media (max-width: 425px) {
body {
    margin: 20px;
}
#header-container{
    display: flex;
    align-items: center;
    
}
.primary-navigation{
    --gap: 3em;
    z-index: 1000;
}

#logo img {
    width: 120px;
    height: 100px;
}
.profile-pic-review{
    width: 60px;
    border-radius: 30px;
}
#shopping-bag{
    display: none;
}
}