@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400&display=swap');

* {
    margin: 0;
}

body {
    background-color: #F9F5F0;
}
.header-container {
    margin-top: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    
}
.logo img {
    height: 130px;
    width: 230;

}
.shopping-bag {
    height: 32px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
    
}   
.nav-list a {
    text-decoration: none;
    color: #93562A;
}
    


.hamburger-menu {
    display: none;
}
.fazer-pedido {
    width: 237px;
    height: 61px;
    background: rgba(255, 102, 101, 0.85);
    border-radius: 5px;
    border-style: none;
    color: black;
    font-family: 'Quicksand';
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic-review {
    width: 70px;
    height: 70px;
}
.footer {
    background-color: #D9D9D9;
}

@media(max-device-width: 480px) {
    .header{
        display: flex;
        justify-content: space-between;
    }
    .logo img {
        height: 70px;
        width: 150px;
    }
    .hamburger-menu{
        display: block;
    }
    .shopping-bag {
        display: none;
    }
    .nav-list {
        display: none;
    }
    .hero-text-container{
        display: none;
    }
    .nice-cake {
        width: 300px;
        height: 300px;
        align-content: center;

    }
    .fazer-pedido{
        justify-content: center;
    }
    .footer-logo img{
        width: 220px;
        height: 130px;
    }
    .footer-container{
        justify-content: space-around;

    }

}